html {
  /* Convert rem to 10px */
  font-size: 62.5%;
  color: #1f1f1f;
}

body {
  display: block;
  background-color: #fafafa;
  margin: 0px;
}

h1 {
  /* 24px */
  font-size: 2.4rem;
}

h2 {
  /* 20px */
  font-size: 2rem;
}

h3 {
  /* 18px */
  font-size: 1.8rem;
}

h4 {
  /* 16px */
  font-size: 1.6rem;
}

p,
li,
span,
input {
  /* 16px */
  font-size: 1.6rem;
}
